@import 'tailwindcss';

.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #4f5976;
}

.header__button-menu {
  margin-top: 4px;
  height: 18px;
  width: 22px;
  border: none;
  justify-self: start;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.header__title {
  width: 100%;
  text-align: center;

  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 21px;
}

.App {
}
